<!-- Renders a form field with errors, required flags, and common styling.  
	html element fields such as class, style, or type can be passed as kwargs.
	Usage: macros.field(form.username, class="input-xlarge", type="email") -->
{% macro contactfield(field, label='', label_class, legend) -%}
        {% set input = field(**kwargs) + "<legend>"+legend+"</legend>" if legend else field(**kwargs)  %}

        {% if field.errors %}
            {% for error in field.errors %}
                {% set input = input + '<label for="'+ field.id +'" class="error help-inline">'+ error +'</label>'  %}
            {% endfor %}
        {% endif %}
        {% set text = label or field.label.text %}
        {% if field.flags.required %}
            {{ field.label(text=text + " <span class='req'>*</span>" + input, class=label_class) }}
        {% else %}
            {{ field.label(text=text + " " + input, class=label_class) }}
        {% endif %}
{%- endmacro %}
