dt{
	font-weight: bold;
	padding: 5px 0;
}
a{
	color: #3F8CD9;
	text-decoration: none;
}
	a:hover{
		text-decoration: underline;
	}


/*** Layout */
body {
	padding: 0;
	margin:0;
	background-color: #ccc;
	font-family: Arial;
	font-size: 13px;
}
section#container{
	margin: 0 40px;
	padding: 20px 10px;
	background-color: white;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
footer {
	border-top: 1px solid #ddd;
	font-size: 70%;
	color: gray;
	background-color: white;
	padding: 5px 20px;
	clear: both;
}

aside{
	width: 270px;
	overflow: hidden;
	float: left;
}
article{
	padding-left: 270px;
	min-height: 650px;
}

/*** header */
header{
	height: 62px;
	background: url('desktop_images/head-bg.gif') left top repeat-x;
	overflow: hidden;
	margin: 0 40px;	
}
	header h1{
		float: left;
		width: 180px;
		padding-left: 40px;
		height: 60px;
		margin: 0;
		overflow: hidden;
	}
	nav{
		float: left;
		display: block;
		margin: 21px 0 0 40px;
	}
		nav li{
			display: inline;
		}
		nav li a{
			display: block;
			font-weight: bold;
			border: 1px solid #DDD;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			float: left;
			margin: 0 5px 0 0;
			border-bottom: 1px solid #ddd;
			width: 154px;
			height: 39px;
			line-height: 41px;
			text-align: center;
			cursor: auto;
			/* Mozilla: */
			background: -moz-linear-gradient(top, #ccc, #fff);
			/* Chrome, Safari:*/
			background: -webkit-gradient(linear,
		                left top, left bottom, from(#ccc), to(#fff));
		}
		nav li.what a{
			width: 190px;
		}
		nav li.selected a{
			border-bottom: 1px solid white;
			color: black;
			text-decoration: none;
		}

	
/*** Links Social Sites */
ul.links{
	margin-top: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 0 0 0 10px;
}


/*** Blog section */
.rssFeed
{
	margin: 10px 0;

}
	.rssHeader { 
		padding: 0.2em 0; 
	}
	.rssHeader a{
		color: #333;
		font-size: 36px;
		font-weight: bold;
	}

	.rssBody { border: 1px solid #999; }
	.rssBody ul { list-style: none; }
	.rssBody ul, .rssRow, .rssRow h4, .rssRow p
	{
		margin: 0;
		padding: 0;
	}

	.rssRow { padding: 0.8em; }
	.rssRow h4 { font-size: 1.1em; }
	.rssRow div
	{
		font-size: 90%;
		color: #666;
		margin: 0.2em 0 0.4em 0;
	}

	.odd { background-color: #f3f3f3; }
	.even { background-color: #fbfbfb; }

/** Callout ("Projects") */

div.callouts {
	background-color: blue;
}
	div.callout {		
		border-right: 1px solid #ccc;
		width: 31%;
		float: left;
		min-height: 160px;
		margin-right: 25px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	div.callout.last {
		border-right: 0;
		margin-right: 0;
	}
	div.callout.last p {
		padding-right: 0;
	}
	div.callout h3 {
		font-size: 17px;
		margin: 0;
	}
	div.callout p {
		padding: 0 20px 0 0;
	}
	div.callout img {
		float: left;
		margin: 0 20px 20px 0;
	}
	div.callout a {
		font-weight: bold;
	}
	hr.out{
		border: 1px solid #ccc;
		display: block;
		margin: 0;
		width: 100%;
	}
