<div class="logo" />
<div class="l-nav-button-bar">
	<a id="backButton" class="l-button l-back" href="back-1.html#">Back</a>
	<a id="homeButton" class="l-button l-home" href="back-1.html#">Home</a>
</div>
<h1>Demo</h1>

<h2>Page 1 - Test Back-Button</h2>

<p class="l-instructions">
	Back-Button's functionality is created automatically, putting only 'l-back' class on the element
</p>

<div class="l-button-bar">
	<a id="view-2" class="l-button l-safety" href="back-1.html#">Go to next view</a>
	<a id="view-2" class="l-button l-safety no-history" href="back-1.html#">No history</a>
</div>
