<div class="l-h2-button-bar">
	<a class="l-button" href="buttons.html#">Exit</a>
</div>
<h2>Buttons</h2>

<div class="ColoredBar">
	<ul class="ButtonBar">
		<li><a class="l-button l-logout" href="buttons.html#">Logout</a></li>
		<li><a class="l-button l-home" href="buttons.html#">Home</a></li>
		<li><a class="l-button l-back" href="buttons.html#">Back</a></li>
	</ul>
</div>

<h1 class="ColoredBar">
	Tittle
	<ul class="ButtonBar">
		<li><a class="l-button l-logout" href="buttons.html#">Logout</a></li>
		<li><a class="l-button l-home" href="buttons.html#">Home</a></li>
		<li><a class="l-button l-back" href="buttons.html#">Back</a></li>
	</ul>
</h1>


<div class="l-button-bar">
	<a class="l-button" href="buttons.html#">Accept</a> <a class="l-button" href="buttons.html#">Cancel</a>
</div>
<div class="l-button-bar">
	<a class="l-button l-safety" href="buttons.html#">Safety</a>
	<a class="l-button l-warning" href="buttons.html#">Warning</a>
</div>
<div style="margin-top: 10%; margin-bottom: 20%; text-align: center; padding: 5%;">Hey! There's a Buttom below waiting for your tap. It's using 'l-top' css class.</div>


<div id="l-footer-bar">
	<div class="ColoredBar">
		<ul class="ButtonBar">
			<li><a class="l-button l-logout" href="buttons.html#">Logout</a></li>
			<li><a class="l-button l-home" href="buttons.html#">Home</a></li>
			<li><a class="l-button l-top" href="buttons.html#">Top</a></li>
			<li><a class="l-button l-back" href="buttons.html#">Back</a></li>
		</ul>
	</div>
	<p>
		Text in footer <a href="http://www.protoboard.cl">www.protoboard.cl </a>
	</p>	
</div>
