<h2>Item Collapsable</h2>

<ul class="l-datalist l-extended">
	<li>Normal</li>
	<li class="l-expandable">
		<div class="header">
			ESTE ES EL ENCABEZADO, PUEDE SER CUALQUIER COSA
		</div>
		<div class="content">
			ESTE ES EL CONTENIDO. PUEDE SER CUALQUIER COSA
		</div>
	</li>
	<li class="l-expandable">
		<div class="header">
			ESTE ES EL ENCABEZADO, PUEDE SER CUALQUIER COSA
		</div>
		<div class="content">
			ESTE ES EL CONTENIDO. PUEDE SER CUALQUIER COSA
		</div>
	</li>
	<li>Normal</li>
	<li class="l-expandable">
		<div class="header">
			ESTE ES EL ENCABEZADO, PUEDE SER CUALQUIER COSA
		</div>
		<div class="content">
			ESTE ES EL CONTENIDO. PUEDE SER CUALQUIER COSA
		</div>
	</li>
</ul>
