<div class="logo" />
<div class="l-nav-button-bar">
	<a id="backButton" class="l-button l-back" href="table-toggle.html#">Back</a>
	<a id="homeButton" class="l-button l-home" href="table-toggle.html#">Home</a>
</div>
<h1>Demo</h1>

<h2>Swivel Table</h2>
<p class="l-instructions" style="text-align: left;">
	<b>The Problem: </b>How to show big tables on mobile devices<br>
    <b>The Solution: </b>Show only 2 columns and navigate them choosing from the first row.<br/>
	Also you can change between rows and columns  by clicking on any row of the first column.<br>
    <b>The source: </b> This framework works loading the table from a <a href="/sandbox/frameworkmobile/data/table_evaluations.js">JSON</a>.
</p>
<div id="ContentTable"></div>

<div id="showBigTable" style="color: blue; text-decoration: underline; text-align: center;">
Hide Complete Table
</div>

<div id="BigTable" style="display: block;"></div>

