*.py[co]

# Packages
*.egg
*.egg-info
dist
eggs
parts
var
sdist
develop-eggs
.installed.cfg
npm-debug.log

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
#*.mo

#Mr Developer
.mr.developer.cfg

# IDEs
.DS_Store
.idea
*.lint
.pydevproject
.project
.settings*

stress/results/
generate_languages.sh
.vagrant
Vagrantfile

# node stuff
node_modules

# built assets
static/*/js/dist
static/*/js/build
static/*/css/dist
static/*/css/build
static/*/css/build
static/*/scss*/*.css
static/*/scss/*landings*/*.css

#sass cache
.sass-cache

# datastore
datastore.sqlite
test-datastore.sqlite

# virtualenvs
venv
