{% extends "../templates/base.html" %}

{% block title %}Protoboard{% endblock %}

{% block media %}{% endblock %}

{% block article %}

	<h1>Projects on Protoboard</h1>
	
	<hr class="out" />

    <div class="g-section callouts">
        <div class="callout">
            <a href="http://www.jquery.cl"><img alt="Source" src="/media/images/opensourceproject.gif"></a>

            <h3>
                <a href="http://www.jquery.cl/">jQuery in Your Language</a>
            </h3>

            <p>
                Project to translate jQuery Documentation to any language around the world.
            </p>

            <p>
                <a href="http://www.jquery.cl/">Project Home »</a>
            </p>
        </div>
        <div class="callout">
            <a href="http://myoutgo.protoboard.cl/"><img alt="Tools for developers"
                                                         src="/media/images/bash_icon.gif"></a>

            <h3>
                My OutGo
            </h3>

            <p>
                Personal Finance App for Android and web.
            </p>

            <p>
                <a href="http://github.com/coto/myoutgo/">Source code »</a>
            </p>
        </div>
        <div class="callout last">
            <img alt="Android Market" src="/media/images/market.gif">

            <h3>
                WordPress Easy Install
            </h3>

            <p>
                Fast and Easy Web Server Installation for WordPress in main Linux distributions.
            </p>

            <p>
                <a href="http://github.com/coto/wordpress-easy-install">Source code »</a>
            </p>
        </div>
    </div>

    <hr class="out"/>

    <div class="g-section callouts">
        <div class="callout">
            <img alt="Condominium Manager Logo" src="/media/images/opensourceproject.gif">

            <h3>Condominium Manager</h3>

            <p>
                Condo Manager helps to manage all functions for multiple associations.
            </p>

            <p>
                <a href="http://github.com/coto/condo-manager/">Source code »</a>
            </p>
        </div>
        <div class="callout">
            <img alt="Trac Theme Logo" src="/media/images/developers.gif">

            <h3>Trac Theme</h3>

            <p>
                Personal Design for TRAC Environment.
            </p>

            <p>
                <a href="http://github.com/coto/trac-theme/">Source code »</a>
            </p>
        </div>
        <div class="callout last">
            <a href="/sandbox/fontsizer/sample.html"><img alt="Android Market" src="/media/images/market.gif"></a>

            <h3>
                <a href="/sandbox/fontsizer/sample.html">jQuery Font-Sizer</a>
            </h3>

            <p>
                jQuery Plugin to increase or decrease easily font size.
            </p>

            <p>
                <a href="/sandbox/fontsizer/sample.html">Sample »</a>
                <a href="http://github.com/coto/fontsizer/">Source code »</a>
            </p>
        </div>
    </div>

    <hr class="out"/>

    <div class="g-section callouts">
        <div class="callout">
            <img alt="Chrome Apps Logo" src="/media/images/opensourceproject.gif">

            <h3>
                Chrome Apps
            </h3>

            <p>
                Apps to Google Chrome Browser.
            </p>

            <p>
                <a href="http://github.com/coto/Mail-Chrome-Apps">Source code »</a>
            </p>
        </div>
        <div class="callout">
            <img alt="Google Code Jam Logo" src="/media/images/developers.gif">

            <h3>
                Google Code Jam
            </h3>

            <p>
                I have been just playing around with some practices posted on Google Code Jam.
            </p>

            <p>
                <a href="http://github.com/coto/code-jam">Source code »</a>
            </p>
        </div>
        <div class="callout last">
            <img alt="Closure vs Prototype Logo" src="/media/images/developers.gif">

            <h3>
                <a href="/sandbox/benchmark-closure-vs-prototype.html">Closure vs Prototype</a>
            </h3>

            <p>
                This's a benchmark to identify what is better, closure or prototype implementations.
            </p>

            <p>
                <a href="https://gist.github.com/720759">Source code »</a>
            </p>
        </div>

    </div>



{% endblock %}


