<div class="l-h2-button-bar">
	<a class="l-button l-expandablelist-all" href="accordion.html#" showing="Expand" hiding="Contract">Expand/Contract</a>
</div>
<h2>Accordion</h2>

<h3>Rounded List</h3>
<ul class="l-expandablelist l-extended">
	<li>
		<div class="header">
			Este es un encabezado
		</div>
		<div class="content">
			ESTE ES EL CONTENIDO. PUEDE SER CUALQUIER COSA
		</div>
	</li>
	<li>
		<div class="header">
			ESTE ES EL ENCABEZADO, PUEDE SER CUALQUIER COSA
		</div>
		<div class="content">
			ESTE ES EL CONTENIDO. PUEDE SER CUALQUIER COSA
		</div>
	</li>
	<li>
		<div class="header">
			ESTE ES EL ENCABEZADO, PUEDE SER CUALQUIER COSA
		</div>
		<div class="content">
			ESTE ES EL CONTENIDO. PUEDE SER CUALQUIER COSA
		</div>
	</li>
</ul>

<h3>Expanded List</h3>
<ul class="l-expandablelist">
	<li>
		<div class="header">
			Este es un encabezado
		</div>
		<div class="content">
			ESTE ES EL CONTENIDO. PUEDE SER CUALQUIER COSA
		</div>
	</li>
	<li>
		<div class="header">
			ESTE ES EL ENCABEZADO, PUEDE SER CUALQUIER COSA
		</div>
		<div class="content">
			ESTE ES EL CONTENIDO. PUEDE SER CUALQUIER COSA
		</div>
	</li>
	<li>
		<div class="header">
			ESTE ES EL ENCABEZADO, PUEDE SER CUALQUIER COSA
		</div>
		<div class="content">
			ESTE ES EL CONTENIDO. PUEDE SER CUALQUIER COSA
		</div>
	</li>
</ul>