<h2>Dial Phone</h2>

<h3>List of numbers</h3>

<p class="l-instructions">
	Only for Mobile Devices<br>
	It works with l-dial class as attribute, call attribute is optional.
	call attribute allow to call to another number different than number showed.
</p>

<ul class="l-datalist">
	<li class="l-map"><label>Home</label><div class="l-dial" call="+5627264131">027264131</div></li>
	<li class="l-map"><label>Mobile</label><div class="l-dial">022364132</div></li>
	<li class="l-map"><label>Work</label><div class="l-dial" call="+5627664133">027664133</div></li>
</ul>