<div class="l-h2-button-bar">
	<a class="l-button" href="home.html#">Create new</a>
</div>

<div class="content">
	<h2>This is a Second Level Tittle</h2>
	<!--h3>Debug Ajax</h3>
	<ul class="l-datalist l-extended menu">
		<li class="l-nav-forward l-selectable" id="ajax_success">Ajax Success</li>
		<li class="l-nav-forward l-selectable" id="ajax_error">Ajax Error</li>
		<li class="l-nav-forward l-selectable" id="ajax_success-render_success">Ajax Success and Render Success</li>
		<li class="l-nav-forward l-selectable" id="ajax_success-render_error">Ajax Success and Render Error</li>
		<li class="l-nav-forward l-selectable" view-id="null">Non-existent view</li>
		<li class="l-nav-forward l-selectable" view-id="render_error">render error</li>
		<li class="l-nav-forward l-selectable" view-id="render_success">render success</li>
	</ul-->
	<h3>Features</h3>
	<ul class="l-datalist l-extended menu">
		<li class="l-nav-forward l-selectable" view-id="slider">Slider</li>
		<li class="l-nav-forward l-selectable" view-id="table">Toggle Table</li>
		<li class="l-nav-forward l-selectable" view-id="tabs">Tabs</li>
		<li class="l-nav-forward l-selectable" view-id="map">Google Map</li>
		<li class="l-nav-forward l-selectable" view-id="accordion">Accordion</li>
		<li class="l-nav-forward l-selectable" view-id="item-desplegable">Item Collapsable</li>
		<li class="l-nav-forward l-selectable" view-id="item-desplegable-select">Item Selectable</li>
		<li class="l-nav-forward l-selectable" view-id="buttons">Buttons</li>
		<li class="l-nav-forward l-selectable" view-id="forms">Forms</li>
		<li class="l-nav-forward l-selectable" view-id="properties">Properties</li>
		<li class="l-nav-forward l-selectable" view-id="titles">Titles & Text</li>
		<li class="l-nav-forward l-selectable" view-id="expanded-list">Expanded List</li>
		<li class="l-nav-forward l-selectable" view-id="rounded-list">Rounded List</li>
		<li class="l-nav-forward l-selectable" view-id="dial-phone">Dial Phone</li>
		<li class="l-nav-forward l-selectable" view-id="back-1">Test Back-Button</li>
		<li class="l-nav-forward l-selectable no-history">No history</li>
	</ul>
</div>

