<h2>Rounded List</h2>

<ul class="l-datalist l-extended">
	<li class="l-map"><label>Lista redondeada (normal)</label><div>.</div></li>
	<li class="l-nav-forward l-selectable">Subtítulo</li>
	<li>Títulos de sección</li>
	<li class="l-nav-forward">Navegación</li>
	<li class="l-map"><label>Key</label><div>Value</div></li>
	<li class="l-map l-multiline-key"><label>l-map pero con una key más larga y sín límite</label><div>Value</div></li>
	<li class="l-map l-multiline-value"><label>l-map con key larga pero que no debe usar más de una línea</label><div>con un valor muy largo que eventualmente podría usar más de una línea</div></li>
	<li class="l-map"><label>l-map con valores largos pero usando sólo una línea</label><div>con un valor muy largo pero usando sólo una línea</div></li>
	<li class="l-map l-nav-forward l-selectable"><label>Key</label><div>Value</div></li>
	<li class="l-map"><label>Key</label><div><input type="email" value="Escriba aquí"/></div></li>
</ul>
