/* Just for x <= IE7 */

div.navbar ul.nav.pull-left {
    display: none;
}
div.navbar a.brand {
    display: none;
}

div.navbar .nav.pull-right {
    float: none;
}

header div.container {
    padding-top: 35px;
}