<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav pills">
                <li {% if "/home" == path  %}class="active"{% endif %}><a href="/">{{ lang.menu_1 }}</a></li>
                <li {% if "/blog" == path  %}class="active"{% endif %}><a href="/blog">{{ lang.menu_2 }}</a></li>
                <li {% if "/about" == path  %}class="active"{% endif %}><a href="/about">{{ lang.menu_3 }}</a></li>
                <li {% if "/contact" == path  %}class="active"{% endif %}><a href="/contact">{{ lang.menu_4 }}</a></li>
            </ul>
        </div>
    </div>
</div>




