
<h2>About Me</h2> 
<p><img id="avatar" class="photo" src="/media/global/avatar.png" height="80" width="80" style="float: left; margin-right: 10px;"  alt="My Picture"/>
	I am Rodrigo Augosto a.k.a. <a href="http://twitter.com/coto">coto</a>. I am a Front End and Mobile Software Engineer, also I am a JavaScript enthusiast. 
</p>
<p> 
  In January 2004, I graduated with The Professional Degree of University Technician in Electronics from <a href="http://www.oai.utfsm.cl/en/">Federico Santa María University</a>, 
  in September 2009, I graduated with a Computer Science and Information Engineer at the  <a href="http://www.usach.cl">University
  of Santiago of Chile</a> and in October 2010 I graduated with my Degree of Licentiate in Applied Engineering from the same institution.
</a>
<!--p>
     I've been accepted to <a href="http://www.monash.edu.au/study/coursefinder/course/2402/">Monash University</a> for a Master of Information Technology, if everything goes well
    I hope take it next year (2012).
</p-->

<p>
	What I like or love?
	<ul>
		<li>I love everything related with top technologies.</li>
		<li>I like web development, but mostly I love front-end technologies... 
			yes, you right, I'm talking about JavaScript and its children (jQuery, Sencha, Node, etc.) ; dunno why, but when the back-end is Python, I love it too.</li>
		<li>I love to work with smart people.</li>
		<li>I'd love to work in a project where electronic and programming are mixed.</li>
	</ul>
	and in my personal life
	<ul>
		<li>I love to have relationship with honest and noble people.</li>
		<li>I love my family and my mother who I owe everything I am.</li>
		<li>I believe in spirituality and that's one of the main reasons because I'm vegetarian</li>
	</ul>
</p>

<p>See also my resume  on <a href="http://www.linkedin.com/in/rodrigoaugosto">www.linkedin.com/in/rodrigoaugosto</a> </p>
