<!doctype html> 
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
	{% ifequal device.kind 'mobile' %}
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	
	<link rel="apple-touch-icon" href="/media/touch_icon.png" />
	<link rel="apple-touch-icon-precomposed" href="/media/touch_icon.png" />
	{% endifequal %}
	<link rel="openid.server" href="https://pip.verisignlabs.com/server" /> 
	<link rel="openid.delegate" href="https://coto.pip.verisignlabs.com/" /> 
	<link rel="openid2.server" href="https://pip.verisignlabs.com/server" /> 
	<link rel="openid2.local_id" href="https://coto.pip.verisignlabs.com/" /> 

	{% ifequal device.kind 'desktop' %}
	<script src="media/js/twitter-widget.js" type="text/javascript"></script>
	{% endifequal %}
	<link type="text/css" rel="stylesheet" href="/media/css/main.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script src="media/js/main.js"></script>

	{% block media %}

	{% endblock %}

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-15733015-3']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
<header>
		<h1>
			<a href="/"><img alt="protoboard" src="/media/images/protoboard.png" /></a>
		</h1>
		{% include "../templates/menu.html" %}
</header>

<section id="container">
	{% ifequal device.kind 'desktop' %}
	<aside>
		<div id="twitter-section">
			<script>
				new TWTR.Widget({
					version: 2,
					type: 'profile',
					rpp: 4,
					interval: 6000,
					width: 250,
					height: 300,
					theme: {
						shell: {
							background: '#a3c739',
							color: '#ffffff'
						},
						tweets: {
							background: '#f9f9f9',
							color: '#444444',
							links: '#3f8cd9'
						}
					},
					features: {
						scrollbar: false,
						loop: false,
						live: true,
						hashtags: true,
						timestamp: true,
						avatars: true,
						behavior: 'all'
					}
				}).render().setUser('coto').start();
			</script>
		</div>
		{% include "../templates/mylinks.html" %}
	</aside>
	{% endifequal %}

	<article>
			{% block article %}{% endblock %}
	</article>

</section>
<!--div style="text-align: center; margin: 20px 0; ">
	View Protoboard in version:
	{% ifequal device.kind 'desktop' %}
	<a>Mobile</a> | <strong>Desktop</strong>
	{% else %}
	<strong>Mobile</strong> | <a>Desktop</a>
	{% endifequal %}
</div-->
<footer>
	{% block footer %}
		Design inspired in <a href="http://www.android.com">android.com</a>
	{% endblock %}
</footer>

</body>
</html>
