
<!DOCTYPE html>
<html>
<head>
<title>Beecoss</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- CSS STYLES -->
<link rel="stylesheet" type="text/css" href="css/kube.css" />
<link rel="stylesheet" type="text/css" href="css/uikit.css" />
<link rel="stylesheet" type="text/css" href="css/master.css" />
<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css"/>
<link rel="stylesheet" type="text/css" href="css/icons.css">
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400,300' rel='stylesheet' type='text/css'>
<!-- FAVICONS -->
<link rel="shortcut icon" href="img/favicon.ico">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
<!-- JavaScript library to detect HTML5 and CSS3 features in the user's browser -->
<script src="js/modernizr.custom.js"></script>
</head>
<body>

<!-- ===================================== 
	LOGO AND MENU
===================================== -->
<header id="header" class="group">
  <div id="logo"><a href="index.html"> <img src="img/logo.png" alt="Company Name" /> </a></div>
  <!-- start navigation -->
  <nav id="menuwrap">
    <ul id="menu">
      <li class="current"><a href="index.html">Home</a></li>
      <!-- -->
      <li><a href="">Pages</a>
        <ul class="menu-sub">
          <li><a href="about-us.html">About us</a></li>
          <li><a href="services.html">Services</a> 
            <!-- start dropdown level 2 -->
            <ul>
              <li><a href="">Item 21</a></li>
              <li><a href="">Item 22</a></li>
              <li><a href="">Item 23</a></li>
            </ul>
            <!-- end dropdown level 2 --> 
          </li>
          <li><a href="left-sidebar.html">Left sidebar</a> 
            <!-- start dropdown level 2 -->
            <ul>
              <li><a href="">Item 31</a></li>
              <li><a href="">Item 32</a></li>
              <li><a href="">Item 33</a></li>
              <li><a href="">Item 34</a></li>
            </ul>
            <!-- end dropdown level 2 --> 
          </li>
          <li><a href="right-sidebar.html">Right sidebar</a></li>
          <li><a href="full-width.html">Full width</a></li>
        </ul>
      </li>
      <!-- end dropdown level 1 -->
      <li> <a href="">Features</a>
        <ul class="menu-sub">
          <li><a href="elements.html">Elements</a> </li>
          <li><a href="columns.html">Grid Columns</a></li>
          <li><a href="tables.html">Tables</a></li>
          <li><a href="icons.html">Icons</a></li>
          <li><a href="form1.html">Forms</a> 
            <!-- start dropdown level 2 -->
            <ul>
              <li> <a href="form1.html">Form 1</a> </li>
              <li> <a href="form2.html">Form 2</a> </li>
              <li> <a href="form3.html">Form 3</a> </li>
            </ul>
            <!-- end dropdown level 2 --> 
          </li>
          <li><a href="typography.html">Typography</a></li>
        </ul>
      </li>
      <!-- end dropdown level 1 -->
      <li> <a href="portfolio.html">Portfolio</a>
        <ul class="menu-sub">
          <li><a href="project-details.html">Project details</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
        </ul>
      </li>
      <!-- / -->
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
  <!-- end navigation --> 
</header>

<!-- ===================================== 
	CAROUSEL
===================================== -->
<div class="carousel">
  <div class="wrapper">
    <div class="units-row-end">
      <div class="items"> <a href="#" class="prev"></a> <a href="#" class="next"></a>
        <div class="unit-3w3"> <a href="#">
          <div class="circle-image"> <img src="img/pic5.jpg" alt="" border="0" /> </div>
          <h3>StarTechConf</h3>
          <p>Template provides consistent experience from phones and tablets to desktops.</p>
          </a> </div>
        <div class="unit-3w3"> <a href="#">
          <div class="circle-image"> <img src="img/pic6.jpg" alt="" border="0" /> </div>
          <h3>Qompazz</h3>
          <p>Template provides consistent experience from phones and tablets to desktops.</p>
          </a> </div>
        <div class="unit-3w3"> <a href="#">
          <div class="circle-image"> <img src="img/pic7.jpg" alt="" border="0" /> </div>
          <h3>Server Easy Install</h3>
          <p>Template provides consistent experience from phones and tablets to desktops.</p>
          </a> </div>
        <div class="unit-3w3"> <a href="#">
          <div class="circle-image"> <img src="img/pic5.jpg" alt="" border="0" /> </div>
          <h3>jQuery FontSize</h3>
          <p>Template provides consistent experience from phones and tablets to desktops.</p>
          </a> </div>
        <div class="unit-3w3"> <a href="#">
          <div class="circle-image"> <img src="img/pic6.jpg" alt="" border="0" /> </div>
          <h3>Trac Theme</h3>
          <p>Template provides consistent experience from phones and tablets to desktops.</p>
          </a> </div>
        <div class="unit-3w3"> <a href="#">
          <div class="circle-image"> <img src="img/pic7.jpg" alt="" border="0" /> </div>
          <h3>GAE Boilerplate</h3>
          <p>Template provides consistent experience from phones and tablets to desktops.</p>
          </a> </div>
      </div>
    </div>
  </div>
</div>

<!-- ===================================== 
	2 COLUMNS WELCOME
===================================== -->
<section class="shapes">
  <div class="wrapper">
    <div class="units-row"> 
      
      <!-- HASSLE FREE TEMPLATE -->
      <div class="unit-50 text-centered" data-uk-scrollspy="{cls:'uk-animation-slide-left', repeat: true}"> <img src="img/pic0.png" alt="" class="noborder push-down-30">
        <h2>Hassle free template</h2>
        <p>Built with simplicity in mind and unique design features spiced up with preset CSS classes to make awesome things.</p>
        <a href="#">
        <button class="btn-asy btn-1 btn-1a">Read more</button>
        </a> </div>
      
      <!-- BULLETPROOF FRAMEWORK -->
      <div class="unit-50 text-centered" data-uk-scrollspy="{cls:'uk-animation-slide-right', repeat: true}"> <img src="img/pic1.png" alt=""  class="noborder push-down-30"/>
        <h2>Bulletproof Framework</h2>
        <p>Build your look on the web, not Twitter's. Responsive revolutionary flexible grid, minimalistic and sufficient for everything. </p>
        <a href="#">
        <button class="btn-asy btn-1 btn-1a">Read more</button>
        </a> </div>
    </div>
  </div>
</section>

<!-- ===================================== 
	SLIDER
===================================== -->
<div class="wrapper">
  <div class="slider">
    <div class="slides"> 
    <img src="img/slide-1.jpg" alt="Bulletproof framework" /> 
    <img src="img/slide-2.jpg" alt="Built with simplicity in mind" /> 
    <img src="img/slide-3.jpg" alt="Revolutionary flexible grid" /> 
    <img src="img/slide-4.jpg" alt="Inteligent PHP form processor" /> 
    </div>
    
    <!-- empty element for caption -->
    <div class="caption"></div>
    <div class="overlay"> <a href="#" class="prev"></a> <a href="#" class="next"></a> </div>
  </div>
</div>

<!-- ===================================== 
	3 COLUMNS BELOW SLIDER
===================================== -->
<section class="bg-gray">
  <div class="wrapper">
    <div class="units-row-end"> 
      
      <!-- COLUMN ONE -->
      <div class="unit-33 text-centered">
        <h3>What Makes Us Different</h3>
        <a href="about-us.html">
        <div class="content-item"> <img src="img/pic2.jpg" alt="" />
          <div class="overlay"></div>
          <div class="corner-overlay-content">+</div>
          <div class="overlay-content">
            <h3>Learn more</h3>
            <p> Vivamus posuere lacus nibh, vitae lacinia neque interdum vel.</p>
          </div>
        </div>
        </a>
        <h3 class="text-uppercase">Inteligent PHP form processor</h3>
        <p>Our inteligent PHP form processor automatically detects fields in forms, so if you add, delete or edit fields in forms you won't need to config anything in PHP vestibulum faucibus facilisis ligula, dictum malesuada. </p>
        <hr class="dotted">
        
        <!-- start nested columns for icons -->
        <div class="units-row">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5c">
            <div class="unit-33"><a href="#set-5" class="hi-icon icon-bullhorn">Bullhorn</a></div>
            <div class="unit-33"><a href="#set-5" class="hi-icon icon-signup">Signup</a></div>
            <div class="unit-33"><a href="#set-5" class="hi-icon icon-earth">Earth</a></div>
          </div>
        </div>
        <!-- / end nested columns for icons -->
        <h3>Discover exclusive services designed for our customers</h3>
      </div>
      
      <!-- COLUMN TWO -->
      <div class="unit-33 text-centered">
        <div class="bg-white unit-padding push-down-35"> <img src="img/pic3.png" class="noborder push-down-15" alt="" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', repeat: true}"/>
          <h3>Absolute freedom with no imposed styling.</h3>
          <p class="zero">Donec viverra, nibh id tempus luctus, est nulla eleifend eros, et cursus erat metus eu dui. Nulla lobortis turpis nec lorem porta consectetur. </p>
        </div>
        <p class="subtitle">Each of our templates are made of innovation, craftsmanship and research, because we wish to offer unique  quality products.</p>
      </div>
      
      <!-- COLUMN THREE -->
      <div class="unit-33 text-centered">
        <h3>What we can do for you</h3>
        <a href="about-us.html">
        <div class="content-item"> <img src="img/pic4.jpg" alt="" />
          <div class="overlay"></div>
          <div class="corner-overlay-content">+</div>
          <div class="overlay-content">
            <h3>Learn more</h3>
            <p>Praesent varius neque nulla, eget consectetur quam placerat quis.</p>
          </div>
        </div>
        </a>
        <h3 class="text-uppercase">A wide range of design services</h3>
        <p>Customer´s needs are our first priority, and respect any requests or recommendations. </p>
        <hr class="dotted">
        <a href="#"> <img src="img/world-map.png" alt="" class="noborder push-down-15" /> </a>
        <h3>Search for a local authorized distributor in your area</h3>
      </div>
    </div>
  </div>
</section>

<!-- ===================================== 
	FOOTER
===================================== -->
<footer id="footer">
  <div class="wrapper">
    <div class="units-row-end"> 
      <!-- ABOUT US -->
      <div class="unit-33">
        <h3>About us</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu mauris id velit cursus malesuada. Vestibulum vel urna vitae risus sagittis consectetur ut sed ante.</p>
        <p>Nam luctus nunc nec molestie egestas  ex ea commodo consequat nulla lobortis turpis. </p>
      </div>
      
      <!-- CONTACT INFO -->
      <div class="unit-33">
        <h3>Contact info</h3>
        <h4> Headquarters information:</h4>
        <ul class="contact-info">
          <li> <i class="icon-phone"></i> +52 (555) 123 4567</li>
          <li> <i class="icon-mail2"></i> info@yourdomain.com</li>
          <li> <i class="icon-office"></i>95 Ninth Avenue 6th and 9th Floors New York, NY 10012 </li>
        </ul>
      </div>
      
      <!-- GET IN TOUCH -->
      <div class="unit-33">
        <h3>Get in touch</h3>
        <p class="first-letter">We would love to hear about your project. Please get in touch with us.</p>
        <div class="push-down-20"> <a class="btn btn-color" href="contact.html">Contact us today</a> </div>
        <div class="social">
          <h4>Follow us:</h4>
          <a href="#" data-uk-tooltip="{pos:'top-left'}" title="Facebook"><span class="icon-facebook2"></span></a> <a href="#" data-uk-tooltip="{pos:'top-left'}" title="Pinterest"><span class="icon-pinterest2"></span></a> <a href="#" data-uk-tooltip="{pos:'top-left'}" title="Twitter"><span class="icon-twitter2"></span></a> <a href="#" data-uk-tooltip="{pos:'top-left'}" title="Linkedin"><span class="icon-linkedin"></span></a> <a href="#" data-uk-tooltip="{pos:'top-left'}" title="Google Plus"><span class="icon-google-plus3"></span></a> </div>
      </div>
    </div>
  </div>
</footer>

<!-- ===================================== 
	COPYRIGHT
===================================== -->
<div id="copyright" class="group">
  <div class="wrapper"> Copyright &copy; 2014 Company Name.  
    
    <!-- FOOTER NAVIGATION -->
    <nav class="nav-g">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="elements.html">Elements</a></li>
        <li><a href="about-us.html">About Us</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- start java --> 
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.cycle2.min.js"></script> 
<script src="js/jquery.prettyPhoto.js"></script> 
<script src="js/jquery.cycle2.extensions.min.js"></script> 
<script src="js/isotope.js"></script>
<script src="js/custom.js"></script> 
<script src="js/uikit.js"></script> 
<!-- / end java -->

</body>
</html>