<h2>Item Selectable</h2>
<p class="l-instructions">You have to create a Form tag, it could be empty, <br> where hidden inputs are located. The Value selected will be stored on each input</p>
<form>

</form>
<ul class="l-datalist l-extended">
	<li>
		<div class="l-select" databindid="field.one">First Options</div>
		<div class="l-options">
			<ul class="l-datalist l-extended">
				<li class="l-option" optionvalue="value_1">
					Value 1
				</li>
				<li class="l-option" optionvalue="value_2">
					Value 2
				</li>
				<li class="l-option l-option-selected" optionvalue="value_3">
					Value 3 (previuosly selected)
				</li>
				<li class="l-option" optionvalue="value_4">
					Value 4
				</li>
			</ul>
		</div>
	</li>
	<li>
		<div class="l-select" databindid="field_two">Second Options</div>
		<div class="l-options">
			<ul class="l-datalist l-extended">
				<li class="l-option" optionvalue="value_1">
					Value 1
				</li>
				<li class="l-option l-option-selected" optionvalue="value_2">
					Value 2 (previuosly selected)
				</li>
				<li class="l-option l-option-selected" optionvalue="value_3">
					Value 3
				</li>
				<li class="l-option" optionvalue="value_4">
					Value 4
				</li>
			</ul>
		</div>
	</li>
	<li>
		<div class="l-select" databindid="field_three">Thrid Options</div>
		<div class="l-options">
			<ul class="l-datalist l-extended">
				<li class="l-option" optionvalue="value_1">
					Value 1
				</li>
				<li class="l-option" optionvalue="value_2">
					Value 2
				</li>
				<li class="l-option" optionvalue="value_3">
					Value 3
				</li>
				<li class="l-option" optionvalue="value_4">
					Value 4
				</li>
			</ul>
		</div>
	</li>
</ul>
